.outer {
    width: 1000px;
    height: 600px;
    background-color: rgb(0, 0, 0);
}

.innerdiv {
    width: 400px;
    height: 400px;
    background-color: rgb(255, 0, 0);
    margin-left: 100px;

}

.list {
    position: absolute;
    color: rgb(255, 255, 255);
    display: contents;
    gap: 20px;
    
   
}

.data {
    width: 160px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.p {
    width: 330px;
    height: 20px;
}